@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura/static/Jura-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Jura";
  src: url("./fonts/Jura/static/Jura-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron/static/Orbitron-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron/static/Orbitron-Regular.ttf");
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron";
  color: #00e676;
}

span,
p {
  font-family: "Jura";
}

body {
  background-image: url("./images/background.jpg");
}

input {
  font-family: "Jura";
}
